<header>
  <h1>TwoEat</h1>
</header>

<h3>ТіЋуе┐сЂЌсЂдсЂёсЂё№╝Ъ</h3>

<%= form_with(model: @post, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>сЂесЂЁсЂХсѓёсЂЇтєЁт«╣:<%= @post.content %></p>
  <%= form.submit "сѓфсЃЃсѓ▒сЃ╝­ЪЎє" %>
  <%= form.submit "ТЏИсЂЇуЏ┤сЂЎ№╝Ђ", name: 'back' %>
<% end %>

<footer>
  <h6><%= link_to "TwoEat", posts_path %></h6>
</footer>
